<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Card</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Welcome, {{user.first_name}}</h1>
            <div class="row">
                <div class="col-6">
                    <a href="/recipes">Back to recipes</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h1>{{ recipes.name }}</h1>
            </div>
            <div class="col-6">
                
                <h2>
                    Posted by: 
                    
                    {% for recipe in all_recipes %}
                        {{ recipe.user.first_name }}
                </h2>
                    {% endfor %}
            </div>
        </div>

        <ul>
            <li>Description: {{ recipes.description }}</li>
            <li>Under 30 Minutes?: {{ recipes.under_30 }}</li>
            <li>Instructions: {{ recipes.instructions }}</li>
            <li>Date Made: {{ recipes.date_made }}</li>
        </ul>

    </div>
</body>
</html>