<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Welcome, {{user.first_name}}</h1>
        <div class="row">
            <div class="col-6">
                <p>All posted recipes:</p>
            </div>

            <div class="col-6">
                <a href="/recipes/new">+ Create</a>
                <a href="/logout">Logout</a>
            </div>
        </div>


        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Under 30 Minutes</th>
                    <th scope="col">Posted By</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{ recipe.name }}</td>
                        <td>
                            {% if recipe.under_30 == 1 %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>{{ recipe.user.first_name }}</td>
                        <td>
                            <a href="/recipes/{{ recipe.id }}">View Recipe</a>
                        </td>
                        <td>
                            {% if session['user_id'] == recipe.user_id %}  
                                <a href="">edit</a>
                                <a href="">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>